<h1 class="title">Bookmark Manager</h1>

<ul>
  <% @bookmarks.each do |bookmark| %>
    <li><%= bookmark %></li>
  <% end %>
</ul>
<br></br>

<form action="/bookmarks/new" method="get">
  <input type="submit" value="Add a new bookmark">
</form>
