<label for="new_url">Enter url:</label>
<form action="/bookmarks/newurl" method="post">
  <input type="text" id="new_url" name="new_bookmark">
  <input type="submit" value="Add">
</form>

<span><%=flash[:notice]%></span>
